---
import { getCollection } from "astro:content";
import WorkCard, { type LinkData } from "@components/WorkCard.astro";

const employers = await getCollection("employers")
---

<accordion-group id="employers">
	<h3>Employers:</h3>
	<div class="work-cards">
		<ol>		
			<!-- should be CollectionEntry type but don't know how to annotate it -->
			{ employers.map((employer: any) => {

				const links: LinkData[] = [];

				if (employer.data.url != "") {
					links.push({
						url: employer.data.url,
						title: "site"
					})
				}

				return (
					<li>
						<WorkCard 
							title={employer.data.company_name}
							links={links}
							summary={employer.data.summary}
							duration={employer.data.duration}
							roles={employer.data.roles}
							description={employer.data.description} />
					</li>
				)
			})}
		</ol>
	</div>
</accordion-group>

<style>
#employers {
	ol {
		list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            padding: 0;

            // little space between work cards
            & + li {
                margin-top: 2px;
            }
        }
	}

	margin-top: 2rem;
}
</style>