---
export interface LinkData {
	url: string
	title: string
}

interface Props {
	title: string;
	links: LinkData[];
	tags?: string[];
	summary: string;
	duration?: string;
	roles?: string[];
	description: string;
}

const { title, links, tags, summary, duration, roles, description } = Astro.props;

import ArrowIcon from '../../icons/icon--arrow.svg?raw'
---
<details class="work-card">
	<summary>
		<h4 data-content={title}>{title}</h4>
		{links != null && links.length > 0 &&
			<div class="links">
				{links.map((link: LinkData) => {
					return (
						<li>
							<a data-content={"visit the " + title + " site"} href={link.url} target="_blank">visit the {title} {link.title}</a>
						</li>
					)
				})}
			</div>
		}
		{description != "" &&
			<p class="description" data-content={description}>{description}</p>
		}

		{duration != "" &&
			<p class="duration" data-content={duration}>{duration}</p>
		}
		<div class="arrow">
			<Fragment set:html={ArrowIcon} />
		</div>
	</summary>
	<div class="content">
		{roles != null &&
			<ol class="roles">
				{roles.map( (role: string) => <li data-content={role}>{role}</li>)}
			</ol>}
		<p data-content={summary}>{summary}</p>
	</div>
</details>