---
import { type ImageMetadata } from 'astro'

export interface Props {
	clientUrl: string;
	logo: ImageMetadata;
	logoAlt: string;
	clientName: string;
}

const { clientUrl, logo, logoAlt, clientName} = Astro.props;

import Image from "astro/components/Image.astro";

const height = 100;

---
<a class="client-logo" href={clientUrl} 
	style={`--logo-url: url('${logo.src}');`} 
	title={clientName} >
	<figure>
		<Image src={logo}
			alt={logoAlt}
			width={`${(height / logo.height) * logo.width}`}
			height={height}
			style={`aspect-ratio: ${logo.width} / ${logo.height}`} />
		<figcaption class="visually-hidden">{clientName}</figcaption>
	</figure>
</a>

<style>
	.client-logo {
		background: var(--color-foreground);
		transition: background var(--transition-time) ease;
		mask-image: var(--logo-url);
		mask-size: contain;
		mask-position: center center;
		mask-repeat: no-repeat;

		max-width: 15rem;

		img {
			opacity: 0;
		}
	}
</style>