---
import type { CollectionEntry } from 'astro:content';
interface Props {
	work: CollectionEntry<'work'>
}

const { work } = Astro.props;
const { company_name, description, duration, roles, summary, url} = work.data;

import ArrowIcon from "../../icons/icon--arrow.svg?raw";
---
<details class="work-card">
	<summary>
		<h4 data-content={company_name}>{company_name}</h4>
		<div class="work-card__links">
				<a data-content={"visit the " + company_name + " site"} href={url} target="_blank">visit the {company_name} site</a>
			</div>
			<p class="work-card__description" data-content={description}>{description}</p>
			<p class="work-card__duration" data-content={duration}>{duration}</p>
			{roles != null &&
			<ol class="work-card__roles">
				{roles.map( (role: string) => <li data-content={role}>{role}</li>)}
			</ol>}
			<div class="arrow">
				<Fragment set:html={ArrowIcon} />
			</div>
	</summary>
	<div class="work-card__content">
		<p data-content={summary}>{summary}</p>
	</div>
</details>

<script>
	const workCards = document.querySelectorAll('.work-card');
	workCards.forEach((c: any) => {
        c.addEventListener('click', (e: Event) => {
            // allow links to be clickable without toggling the accordion
			const t: HTMLDetailsElement = e.target as HTMLDetailsElement;
            if (t.tagName.toLowerCase() == 'a') {
                return
            }

            e.preventDefault()

            if (c.hasAttribute('open')) {
                return c.removeAttribute('open')
            }

            workCards.forEach((w) => {
                w.removeAttribute('open')
            })

            c.setAttribute('open', 'true')
        })
    })
</script>